
  
  body {
    margin: 0;
  }

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

}
